#default{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $bleuLight;
    min-height: 100vh;
    padding-bottom: 40px;

    nav {
        display: flex;
        background-color: $bleuDark;
        width: 100%;

        a {
            color: $bleuLight;
            text-decoration: none;
            font-size: 1.1rem;
            display: block;
            padding: 10px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .title {
        color: $green;
        margin: 40px 0;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    ul {
        padding-left: 20px;
    }

    .animals-list {
        margin: 20px 0;
    }

    form {
        width: 50%;
        margin: auto;

        div {
            margin: 10px;
        }

        input, textarea {
            width: 100%;
            display: block;
            padding: 10px;
        }

        label {
            width: 100%;
            display: block;
        }

        input[type = 'submit'], button {
            display: block;
            width: 100%;
            background-color: $bleuDark;
            color: $bleuLight;
            cursor: pointer;
            padding: 10px;
            text-transform: uppercase;
        }
    }
}